#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body{
	-ms-overflow-style: none;
	font-size-adjust: 0.5;
}
::-webkit-scrollbar {
	display: none;
}